.dashboard.container {
  /* background-image: url(https://images.pexels.com/photos/4855554/pexels-photo-4855554.jpeg?cs=srgb&dl=pexels-cottonbro-4855554.jpg&fm=jpg); */
  background-image: url(https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 100%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media screen and (max-width: 768px) {
  li:not(.is-active) > a > span:not(.icon) {
    visibility: hidden;
    position:  absolute;
  }

  nav.tabs li:not(.is-active) {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }

  .tabs .icon {
    margin-left: 0.5em;
  }
}

.tabs li {
  transition: flex-grow 1s ease;
}

.tabs {
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
}

#dashboard-header {
  color: #1D3557;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2%;
  font-variant-caps: all-small-caps;
  text-shadow: 0px 4px 10px white;
}

#card-container {
  padding-left: 10%;
  padding-right: 10%;
}

.card {
  border-radius: 20px;
  height: 100%;
}

.column:hover .overlay {
  border-radius: 20px;
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #A8DADC;
}

.card-image.default {
  padding: 25%;
  background-color: #F1FAEE;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tab-content {
  padding-top: 2%;
}

.user-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}