@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

// 2. Set your own initial variables
$honeydew: #F1FAEE;
$imperial-red: #E63946;
$powder-blue: #A8DADC;
$celadon-blue: #457B9D;
$prussian-blue: #1D3557;
// Add pink and its invert
$pink: #ffb3b3;
$imperial-red-invert: #fff;
// Add a serif family
$family-serif: 'Raleway', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $imperial-red;
$primary-invert: $imperial-red-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;
$link: $pink;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter": (
    $twitter,
    $twitter-invert,
  ),
  "linkedin": (
    $linkedin,
    $linkedin-invert,
  ),
  "github": (
    $github,
    $github-invert,
  ),
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../../../node_modules/bulma/bulma.sass";